<section class="layout-pt-md layout-pb-lg">
    <div class="container">
        <div class="row y-gap-30">

            <div class="col-12">
                <div class="row y-gap-10 items-center justify-between">
                    <div class="col-auto">
                        <div class="text-18"><span id="carsCount" class="fw-500">0 cars</span> available</div>
                    </div>

                    <div class="col-auto">
                        <div class="row x-gap-10 y-gap-10">
                            <div class="col-auto">
                                <button data-x-click="filterPopup" class="button -blue-1 h-40 px-20 rounded-100 bg-blue-1-05 text-15 text-blue-1">
                                    <i class="icon-up-down text-14 mr-10"></i>
                                    Filter
                                </button>
                            </div>

                            <div class="col-auto">
                                <button class="button -blue-1 h-40 px-20 rounded-100 bg-blue-1-05 text-15 text-blue-1">
                                    <i class="icon-up-down text-14 mr-10"></i>
                                    Sort
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filterPopup bg-white rentcar-filter-drawer" data-x="filterPopup" data-x-toggle="-is-active">
                    <aside class="sidebar -mobile-filter rentcar-filter-content">

                        <div class="d-flex items-center justify-between px-30 py-20 border-bottom-light">
                            <button type="button" data-x-click="filterPopup" class="button -blue-1 size-40 bg-light-2">
                                <i class="icon-close text-15"></i>
                            </button>

                            <div class="text-18 fw-500">Filters</div>

                            <button type="button" id="clearCarFiltersButton" class="text-14 fw-500 underline">
                                Clear
                            </button>
                        </div>

                        <div class="rentcar-filter-body">
                            <div class="sidebar__item -no-border">
                                <h5 class="text-18 fw-500 mb-10">Vehicle type</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="SEDAN">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Sedan</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="SUV">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">SUV</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="STATION_WAGON">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Station wagon</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="VAN">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Family car</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="CONVERTIBLE">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Convertible</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="COUPE">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Coupe</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10">Premium selections</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="premium" value="true">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Premium</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="guaranteedModel" value="true">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Guaranteed model</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10">Features</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="fuelType" value="ELECTRIC">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Electric</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="fuelType" value="HYBRID">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Hybrid</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="transmission" value="AUTOMATIC">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Automatic</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="hotOffer" value="true">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">Hot offers</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10">Minimum number of seats</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="seats" value="2">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">2</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="seats" value="4">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">4</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="seats" value="5">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">5</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="seats" value="9">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">9</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10">Bags</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="bags" value="2">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">2</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="bags" value="3">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">3</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="bags" value="4">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">4</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="bags" value="5">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">5</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10">Primary driver age</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="radio">
                                            <input type="radio" class="js-car-filter" name="driverAge" data-filter="driverAge" value="21">
                                            <div class="radio__mark"><div class="radio__icon"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">21+</div>
                                    </div>
                                    <div class="filter-chip">
                                        <div class="radio">
                                            <input type="radio" class="js-car-filter" name="driverAge" data-filter="driverAge" value="25">
                                            <div class="radio__mark"><div class="radio__icon"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">25+</div>
                                    </div>
                                    <div class="filter-chip">
                                        <div class="radio">
                                            <input type="radio" class="js-car-filter" name="driverAge" data-filter="driverAge" value="30">
                                            <div class="radio__mark"><div class="radio__icon"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">30+</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </aside>
                </div>
                <div class="mt-30"></div>
                <div id="carsList" class="row y-gap-30">
                    <div class="col-12">
                        <div class="text-15 text-light-1">Loading cars...</div>
                    </div>
                </div>

                <div class="border-top-light mt-30 pt-30">
                    <div class="row x-gap-10 y-gap-20 justify-between md:justify-center">
                        <div class="col-auto md:order-1">
                            <button class="button -blue-1 size-40 rounded-full border-light">
                                <i class="icon-chevron-left text-12"></i>
                            </button>
                        </div>

                        <div class="col-md-auto md:order-3">
                            <div class="row x-gap-20 y-gap-20 items-center md:d-none">

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full">1</div>

                                </div>

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full bg-dark-1 text-white">2</div>

                                </div>

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full">3</div>

                                </div>

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full bg-light-2">4</div>

                                </div>

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full">5</div>

                                </div>

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full">...</div>

                                </div>

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full">20</div>

                                </div>

                            </div>

                            <div class="row x-gap-10 y-gap-20 justify-center items-center d-none md:d-flex">

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full">1</div>

                                </div>

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full bg-dark-1 text-white">2</div>

                                </div>

                                <div class="col-auto">

                                    <div class="size-40 flex-center rounded-full">3</div>

                                </div>

                            </div>

                            <div class="text-center mt-30 md:mt-10">
                                <div class="text-14 text-light-1">1 – 20 of 300+ properties found</div>
                            </div>
                        </div>

                        <div class="col-auto md:order-2">
                            <button class="button -blue-1 size-40 rounded-full border-light">
                                <i class="icon-chevron-right text-12"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
