<section class="layout-pt-md layout-pb-lg">
    <div class="container">
        <div class="row y-gap-30">

            <div class="col-12">
                <div class="row y-gap-10 items-center justify-between">
                    <div class="col-auto" id="carsFilterSortBar">
                        <div class="row x-gap-10 y-gap-10">
                            <div class="col-auto">
                                <button id="openCarFiltersButton" class="button -blue-1 h-40 px-20 rounded-100 bg-blue-1-05 text-15 text-blue-1">
                                    <i class="icon-up-down text-14 mr-10"></i>
                                    <span data-i18n="filter.filter">Filter</span>
                                </button>
                            </div>

                            <div class="col-auto">
                                <button class="button -blue-1 h-40 px-20 rounded-100 bg-blue-1-05 text-15 text-blue-1">
                                    <i class="icon-up-down text-14 mr-10"></i>
                                    <span data-i18n="filter.sort">Sort</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="filterPopup bg-white rentcar-filter-drawer" data-x="filterPopup" data-x-toggle="-is-active">
                    <aside class="sidebar -mobile-filter rentcar-filter-content">

                        <div class="d-flex items-center justify-between px-30 py-20 border-bottom-light">
                            <button type="button" id="closeCarFiltersButton" class="button -blue-1 size-40 bg-light-2">
                                <i class="icon-close text-15"></i>
                            </button>

                            <div class="text-18 fw-500" data-i18n="filter.filtersTitle">Filters</div>

                            <button type="button" id="clearCarFiltersButton" class="text-14 fw-500 underline" data-i18n="filter.clear">
                                Clear
                            </button>
                        </div>

                        <div class="rentcar-filter-body">
                            <div class="sidebar__item -no-border">
                                <h5 class="text-18 fw-500 mb-10" data-i18n="filter.vehicleType">Vehicle type</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="SEDAN">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.sedan">Sedan</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="SUV">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.suv">SUV</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="WAGON">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.stationWagon">Station wagon</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="VAN">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.familyCar">Family car</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="CONVERTIBLE">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.convertible">Convertible</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="vehicleType" value="COUPE">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.coupe">Coupe</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10" data-i18n="filter.premiumSelections">Premium selections</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="premium" value="true">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.premium">Premium</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="guaranteedModel" value="true">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.guaranteedModel">Guaranteed model</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10" data-i18n="filter.features">Features</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="fuelType" value="ELECTRIC">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.electric">Electric</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="fuelType" value="HYBRID">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.hybrid">Hybrid</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="transmission" value="AUTOMATIC">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10" data-i18n="filter.automatic">Automatic</div>
                                    </div>

                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10" data-i18n="filter.minSeats">Minimum number of seats</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="minSeats" value="2">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">2</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="minSeats" value="4">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">4</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="minSeats" value="5">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">5</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="minSeats" value="9">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">9</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10" data-i18n="filter.bags">Bags</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="minBags" value="2">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">2</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="minBags" value="3">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">3</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="minBags" value="4">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">4</div>
                                    </div>

                                    <div class="filter-chip">
                                        <div class="form-checkbox">
                                            <input type="checkbox" class="js-car-filter" data-filter="minBags" value="5">
                                            <div class="form-checkbox__mark"><div class="form-checkbox__icon icon-check"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">5</div>
                                    </div>
                                </div>
                            </div>

                            <div class="sidebar__item">
                                <h5 class="text-18 fw-500 mb-10" data-i18n="filter.driverAge">Primary driver age</h5>
                                <div class="sidebar-checkbox">
                                    <div class="filter-chip">
                                        <div class="radio">
                                            <input type="radio" class="js-car-filter" name="minDriverAge" data-filter="minDriverAge" value="21">
                                            <div class="radio__mark"><div class="radio__icon"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">21+</div>
                                    </div>
                                    <div class="filter-chip">
                                        <div class="radio">
                                            <input type="radio" class="js-car-filter" name="minDriverAge" data-filter="minDriverAge" value="25">
                                            <div class="radio__mark"><div class="radio__icon"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">25+</div>
                                    </div>
                                    <div class="filter-chip">
                                        <div class="radio">
                                            <input type="radio" class="js-car-filter" name="minDriverAge" data-filter="minDriverAge" value="30">
                                            <div class="radio__mark"><div class="radio__icon"></div></div>
                                        </div>
                                        <div class="text-15 ml-10">30+</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="rentcar-filter-footer">
                            <button type="button" id="showFilteredCarsButton">
                                <span data-i18n="filter.show">Show</span> <span id="filterCarsCount">0</span> <span data-i18n="filter.cars">cars</span>
                            </button>
                        </div>
                    </aside>
                </div>
                <div class="mt-30"></div>
                <div id="carsList" class="row y-gap-30">
                    <div class="col-12">
                        <div class="text-15 text-light-1" data-i18n="car.loadingCars">Loading cars...</div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
