<section class="layout-pt-md layout-pb-md bg-dark-2">
    <div class="container">
        <div class="row y-gap-30 justify-between items-center">
            <div class="col-auto">
                <div class="row y-gap-20  flex-wrap items-center">
                    <div class="col-auto">
                        <div class="icon-newsletter text-60 sm:text-40 text-white"></div>
                    </div>

                    <div class="col-auto">
                        <div class="text-white" data-i18n="footer.newsletter">Sign up and we'll send the best deals to you</div>
                    </div>
                </div>
            </div>

            <div class="col-auto">
                <div class="single-field -w-410 d-flex x-gap-10 y-gap-20">
                    <div>
                        <input class="bg-white h-60" type="text" data-i18n-placeholder="footer.emailPlaceholder" placeholder="Your Email">
                    </div>

                    <div>
                        <button class="button -md h-60 bg-blue-1 text-white" data-i18n="footer.subscribe">Subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer -type-3 text-white bg-dark-1">
    <div class="container">
        <div class="pt-60 pb-60">
            <div class="row y-gap-40 justify-between xl:justify-start">
                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <h5 class="text-16 fw-500 mb-30" data-i18n="footer.contactUs">Contact Us</h5>

                    <div class="mt-30">
                        <div class="text-14 mt-30" data-i18n="footer.tollFree">Toll Free Customer Care</div>
                        <a href="#" class="text-18 fw-500 mt-5">+(34) 111 1111 11</a>
                    </div>

                    <div class="mt-35">
                        <div class="text-14 mt-30" data-i18n="footer.liveSupport">Need live support?</div>
                        <a href="#" class="text-18 fw-500 mt-5">hi@gmail.com</a>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <h5 class="text-16 fw-500 mb-30" data-i18n="footer.company">Company</h5>
                    <div class="d-flex y-gap-10 flex-column">
                        <a href="#" data-i18n="footer.aboutUs">About Us</a>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <h5 class="text-16 fw-500 mb-30" data-i18n="footer.support">Support</h5>
                    <div class="d-flex y-gap-10 flex-column">
                        <a href="#" data-i18n="footer.contact">Contact</a>
                        <a href="#" data-i18n="footer.privacy">Privacy Policy</a>
                        <a href="#" data-i18n="footer.terms">Terms and Conditions</a>
                    </div>
                </div>

                <div class="col-xl-2 col-lg-4 col-sm-6">
                    <h5 class="text-16 fw-500 mb-30" data-i18n="footer.otherServices">Other Services</h5>
                    <div class="d-flex y-gap-10 flex-column">
                        <a href="#" data-i18n="footer.something">Something</a>
                    </div>
                </div>

            </div>
        </div>

        <div class="py-20 border-top-white-15">
            <div class="row justify-between items-center y-gap-10">
                <div class="col-auto">
                    <div class="row x-gap-30 y-gap-10">
                        <div class="col-auto">
                            <div class="d-flex items-center" data-i18n="footer.copyright">
                                © 2026 Rent a Car All rights reserved.
                            </div>
                        </div>

                        <div class="col-auto">
                            <div class="d-flex x-gap-15">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
