<header data-add-bg=""
        class="header bg-dark-3 js-header airport-mini-header"
        data-x="header"
        data-x-toggle="is-menu-opened">

    <div class="header__container px-30 sm:px-20">
        <div class="row justify-between items-center">

            <div class="col-auto">
                <a href="index.html"
                   class="header-logo mr-20"
                   data-x="header-logo"
                   data-x-toggle="is-logo-dark">

                    <img src="img/general/deluxelogo.png" alt="Rent Car Paradise Deluxe logo">
                    <img src="img/general/deluxelogo.png" alt="Rent Car Paradise Deluxe logo">
                </a>
            </div>

            <div class="col-auto">
                <div class="d-flex items-center">

                    <button class="d-flex items-center text-14 text-white js-lang-toggle"
                            type="button">

                        <img src="img/general/lang.png"
                             alt="image"
                             class="rounded-full mr-10">

                        <span class="js-language-mainTitle" data-current-language-label>
                            English
                        </span>

                        <i class="icon-chevron-sm-down text-7 ml-15"></i>
                    </button>

                    <div class="d-flex items-center ml-20 md:d-none">
                        <a href="signup.html" class="rc-header-auth-link" data-i18n="header.signIn">
                            Sign In / Register
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

</header>
