<header data-add-bg=""
        class="header bg-dark-3 js-header airport-mini-header"
        data-x="header"
        data-x-toggle="is-menu-opened">

    <div class="header__container px-30 sm:px-20">
        <div class="row justify-between items-center">

            <div class="col-auto">
                <a href="index.html"
                   class="header-logo mr-20"
                   data-x="header-logo"
                   data-x-toggle="is-logo-dark">

                    <img src="img/general/logo-light.svg" alt="logo icon">
                    <img src="img/general/logo-dark-2.svg" alt="logo icon">
                </a>
            </div>

            <div class="col-auto">
                <div class="d-flex items-center">

                    <button class="d-flex items-center text-14 text-white"
                            data-x-click="lang">

                        <img src="img/general/lang.png"
                             alt="image"
                             class="rounded-full mr-10">

                        <span class="js-language-mainTitle">
                            English
                        </span>

                        <i class="icon-chevron-sm-down text-7 ml-15"></i>
                    </button>

                    <div class="d-flex items-center ml-20 md:d-none">
                        <a href="signup.html"
                           class="button px-30 fw-400 text-14 border-white h-50 text-white ml-20"
                           data-i18n="header.logIn">

                            Log In / Register
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>

</header>