<div class="langMenu is-hidden" data-x="lang" data-x-toggle="is-hidden">
    <div class="langMenu__content">

        <div class="langMenu__item js-item" data-lang="en">
            <span data-i18n="lang.english">English</span>
            <span class="langMenu__check">&#10003;</span>
        </div>

        <div class="langMenu__item js-item" data-lang="es">
            <span data-i18n="lang.spanish">Español</span>
            <span class="langMenu__check">&#10003;</span>
        </div>

        <div class="langMenu__item js-item" data-lang="tr">
            <span data-i18n="lang.turkish">Türkçe</span>
            <span class="langMenu__check">&#10003;</span>
        </div>

    </div>
</div>