<div class="preloader js-preloader">
    <div class="preloader__wrap">
        <div class="preloader__icon">
            <svg width="40" height="40" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="50" height="50" rx="22" fill="#051036"/>

                <path d="M14 28V24C14 22.9 14.9 22 16 22H34C35.1 22 36 22.9 36 24V28"
                      stroke="white" stroke-width="2.3" stroke-linecap="round"/>

                <path d="M18 22L21 17H29L32 22"
                      stroke="white" stroke-width="2.3" stroke-linecap="round"/>

                <circle cx="19" cy="30" r="2.3" fill="white"/>
                <circle cx="31" cy="30" r="2.3" fill="white"/>
            </svg>
        </div>
    </div>

    <div class="preloader__title">RentCar</div>
</div>